<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- Bootstrap Link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    <title>Burger-Eater</title>
    <!-- My CSS Link Connected Here-->
    <link rel="stylesheet" href="./assets/css/style.css" />

</head>

<body>
    {{!-- Handlebars data will all populate here! --}}
    {{{ body }}}
</body>
{{!-- My JavaScript attached here --}}
<script src="./assets/js/burgers.js"></script>

</html>