{{!-- h1 title --}}
<h1>Let's Eat some Burgers!</h1>

{{!-- Burgers to eat list title--}}
<h3>Burgers to Eat!</h3>

{{!-- Burgers to eat list --}}
<ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burger-block devoured=true}}
    {{/unless}}
    {{/each}}
</ul>
{{!-- Burgers that have been eaten list title --}}
<h3>Burgers Eaten</h3>

{{!-- Burgers eaten list --}}
<ul>
    {{#each burgers}}
    {{#if devoured}}
    {{> burgers/burger-block devoured=false}}
    {{/if}}
    {{/each}}
</ul>

{{!-- Add a burger section --}}

{{!-- Add a burger title --}}
<h3>Add a Burger</h3>
<form class="new-burger-form">

    <div class="form-group">
        <label for="new-burger">Add a Burger:</label>
        <input type="text" class="new-burger" name="burger_name">
    </div>

    {{!-- <div class="form-group">
        <label for="slee">Sleepy?</label><br>
        <input type="radio" name="devoured" value="1" id="devoured" checked> devoured!<br>
        <input type="radio" name="devoured" value="0" id="not-devoured"> Awake
    </div> --}}

    <button type="submit">Add Burger</button>
</form>